<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>New Picky--{{ context.sitename }}</title>
    <link rel="stylesheet" href="{{ static_url("admin/style.css") }}" type="text/css"/>
  </head>
  <body>
    <div class="container">
      <div class="header box clearfix">
        <div class="hright">
          <a href="/post/new"><button class="btn success">New Post</button></a>
        </div>
        <div class="hleft">
          <h1><a href="/">{{ context.sitename }}</a></h1>
        </div>
      </div>
      <div id="content">
        <form action="" method="POST" enctype="multipart/form-data">
          <div class="clearfix">
            <div class="input">
             <input class="input-file" name="picky" type="file">
            </div>
          </div><!-- /clearfix -->
          
          <div class="actions">
            <input type="submit" class="btn primary" value="点击上传">
          </div>
          {{ xsrf_form_html() }}
        </form>
      </div>
      <div id="footer">
        <p>&copy; By <a href="https://github.com/SerhoLiu/serholiu.com">MiniAkio</a> 2009-2014</p>
      </div>
    </div>  
  </body>  
</html>