<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>New Post--{{ context.sitename }}</title>
    <link rel="stylesheet" href="{{ static_url("admin/style.css") }}" type="text/css"/>
  </head>
  <body>
    <div class="container">
      <div class="header box clearfix">
        <div class="hright">
          <a href="/post/picky"><button class="btn">New Picky</button></a>
        </div>
        <div class="hleft">
          <h1><a href="/">{{ context.sitename }}</a></h1>
        </div>
      </div>
      <div id="content">
        <form action="" method="post">
          <div class="clearfix">
            <div class="input">
              <textarea name="markdown" class="span13" id="textarea" rows="30" required></textarea>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <div class="input">
              关闭留言:<input type="checkbox" name="comment" id="" value="0" />
            </div>
          </div><!-- /clearfix -->
          <div class="actions">
            <input type="submit" class="btn primary" value="发布文章">&nbsp;
            <a href="/"><button type="reset" class="btn">放弃发布</button></a>
          </div>
          {{ xsrf_form_html() }}
        </form>
      </div>
      <div id="footer">
        <p>&copy; By <a href="https://github.com/SerhoLiu/serholiu.com">MiniAkio</a> 2009-2014</p>
      </div>
    </div>
  </body>  
</html>