{% extends "base.html" %}
{% block title %}在《{{name}}》下的所有文章 - {{escape(context.sitename)}}{% end %}
{% block content %}
<div class="content-header home top-box">
    <h2 class="content-title">在《{{name}}》下的所有文章</h2>
  </div>
  <div class="content-body bottom-box">

    <section>
      <ul>
       {%for post in posts %}
        <li class="archiveli">
          {{get_home_time(post.published)}}——<a href="/{{post.slug}}">{{post.title}}</a>
        </li>
       {% end %}
      </ul>
    </section>
    <hr>
    <blockquote>
      <small><a href="/{{type}}/{{name}}" title="Posts">{{count}}+</a></small>
    </blockquote>
  </div>
{% end %}
