<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{escape(context.sitename)}}{% end %}</title>
    <meta name="author" content="Serho Liu">
    <meta name="description" content="{% block head %}SErHo's Blog,Please Call me Serho Liu.{% end %}" />
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
    <link href="/blog/feed" rel="alternate" type="application/atom+xml">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->
    <link href="{{static_url('style/effector.css')}}" rel="stylesheet" type="text/css" media="all">
    <link href="{{static_url('style/solarized.css')}}" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div id="container">
      <header id="header" class="bottom-box">
        <ul>
          <li><a href="/picky/about-me">About</a></li>
          <li><a href="/picky/all">Picky</a></li>
          <li><a href="/picky/links">Link</a></li>
          <li><a href="/blog/all">Archive</a></li>
          <li><a href="/blog/tags">Tags</a></li>
          <li><a href="/search/all">Search</a></li>
        </ul>
        <h1><a href="/">I'm SErHo</a></h1>
      </header>
       
      <div id="main" class="clearfix">
        <img src="{{static_url('home.jpg')}}" class="top-box bottom-box" alt="Home Picky" />
        <div class="content clearfix">
        {% block content %}{% end %}
        </div>
        {% block nav %}{% end %}
      </div>

      <footer id="footer" class="top-box clearfix">
        &copy; 2009-2012  | <a href="/picky/about-blog" title="By Serho Liu">SErHo's Blog</a> with
        <a href="http://www.tornadoweb.org/" target="_blank">Tornado</a>.
           &#160;&#160;<span class="label label-success">{% set request_time = 1000.0 * handler.request.request_time() %}
                       {{"%.2f ms" % request_time}}</span>
        <a href="javascript:scroll(0,0)" class="to_top">TOP</a>
      </footer>
      {% block bottom %}
      {% end %}
    </div>
  </body>
</html>
