{% extends "base.html" %}
{% block title %}博客所有文章 - {{escape(context.sitename)}}{% end %}
{% block content %}
    
    <section class="archives">
      {% set i=0 %}
      {% for year_posts in archives_list(posts) %}
      <h4 class="downarch">{{year_posts[0]}} +</h4>
      {% set i=i+1 %}  
      {% if i <2 %}
        <ul class="postsList">
        {% for post in year_posts[1] %}
        <li class="archiveli">
          <span>{{get_home_time(post.published)}}</span><a href="/{{post.slug}}">{{post.title}}</a>
        </li>
        {% end %}
        </ul>
        {% else %}
        <ul class="hidearch postsList">
        {% for post in year_posts[1] %}
        <li class="archiveli">
          <span>{{get_home_time(post.published)}}</span><a href="/{{post.slug}}">{{post.title}}</a>
        </li>
        {% end %}
        </ul>
       {% end %}
       
       {% end %}
    </section>
    <hr>
    <blockquote>
      <small><a href="/blog/all" title="Posts">{{count}}+</a></small>
    </blockquote>
{% end %}
{% block bottom %}
<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.6.2/jquery.min.js"></script>
 <script type="text/javascript">
  jQuery(document).ready(function($){
  $(document).ready(function(){
  $(".archives ul.hidearch").hide();
  $(".archives h4.downarch").click(function(){
    $(this).next().slideToggle('fast');return false;
  });
  });
})
</script>
{% end %}