<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{config.blogname}}{% end %}</title>
    <meta name="author" content="Serho Liu">
    <meta name="description" content="{% block head %}{{config.blogdesc}}{% end %}" />
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
    <link href="/blog/feed" rel="alternate" type="application/atom+xml">
    <link href="{{static_url('style/style.min.css')}}" rel="stylesheet" type="text/css" media="all">
    {% if context.is_mobile %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href="{{static_url('style/mobile.css')}}" rel="stylesheet" type="text/css" media="all">
    {% end %}
    <link href="{{static_url('style/solarized.css')}}" rel="stylesheet" type="text/css">
  </head>

  <body>
    {% block cover %}
      {% if config.blogcover %}
      <img class="bg-image" src="{{config.blogcover}}" />
      {% end %}
    {% end %}

    {% if not context.is_mobile %}
    <header id="header" class="clearfix header-fixed-top">
      <div class="nav">
        {% include "header.html" %}
      </div>
    </header>
    {% end %}

    <div id="container">
      {% if context.is_mobile %}
      <header id="mobile-header" class="clearfix">
        {% include "header.html" %}
      </header>
      {% end %}
      <div class="content clearfix">
      {% block content %}{% end %}
      </div>

      <footer id="footer" class="top-box clearfix">
        &copy; 2009-2015  | <a href="/picky/about-blog" title="By Serho Liu">SErHo's Blog</a> with
        <a href="https://github.com/SerhoLiu/serholiu.com"> MiniAkio</a>.
        <a href="javascript:scroll(0,0)" class="to-top">TOP</a>
      </footer>
      {% block bottom %}
      {% end %}
    </div>
  </body>
</html>
