<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{escape(context.sitename)}}{% end %}</title>
    <meta name="author" content="cheyo">
    <meta name="description" content="{% block head %}cheyo's Blog.{% end %}" />
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
    <link href="/blog/feed" rel="alternate" type="application/atom+xml">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->
    <link href="{{static_url('style/style.min.css')}}" rel="stylesheet" type="text/css" media="all">
    {% if context.is_mobile %}
    <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" name="viewport" />
    <link href="{{static_url('style/mobile.css')}}" rel="stylesheet" type="text/css" media="all">
    {% end %}
    <link href="{{static_url('style/solarized.css')}}" rel="stylesheet" type="text/css">
  </head>

  <body>
    <img class='bg-image' src="{{static_url('bg.jpg')}}" />
    {% if not context.is_mobile %}
    <header id="header" class="clearfix header-fixed-top">
      <div class="nav">
        <h1><a href="/">{{escape(context.sitename)}}</a></h1>
        <ul>
          <li><a href="/blog/categories.html">Categories</a></li>
          <li><a href="/blog/tags.html">Tags</a></li>
          <li><a href="/blog/archive.html">Archive</a></li>
          <li><a href="/picky/all">Picky</a></li>
          <li><a href="/picky/links">Link</a></li>
          <li><a href="/picky/about-me">About</a></li>
        </ul>
      </div>
    </header>
    {% end %}

    <div id="container">
      {% if context.is_mobile %}
      <header id="mobile-header" class="clearfix">
        <h1><a href="/">{{escape(context.sitename)}}</a></h1>
        <ul>
          <li><a href="/blog/categories.html">Categories</a></li>
          <li><a href="/blog/tags.html">Tags</a></li>
          <li><a href="/blog/archive.html">Archive</a></li>
          <li><a href="/picky/about-me">About</a></li>
        </ul>
      </header>
      {% end %}
      <div id="main" class="clearfix">
        <div class="content clearfix">
        {% block content %}{% end %}
        </div>
        {% block nav %}{% end %}
      </div>

      <footer id="footer" class="top-box clearfix">
        &copy; 2009-2014 | cheyo's Blog | Powered by 
        <a href="https://github.com/cheyo/LemonBlog">LemonBlog</a> forked from 
        <a href="https://github.com/SerhoLiu/serholiu.com">MiniAkio</a>.
        <a href="javascript:scroll(0,0)" class="to-top">TOP</a>
      </footer>
      {% block bottom %}
      {% end %}
    </div>
    <div style="display:none;">
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253318237'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1253318237%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>
  </body>
</html>
