<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{escape(context.sitename)}}</title>
    <meta name="author" content="Serho Liu">
    <meta name="description" content="cheyo's Blog." />
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
    <link href="/blog/feed" rel="alternate" type="application/atom+xml">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->
    <link href="{{static_url('style/style.min.css')}}" rel="stylesheet" type="text/css" media="all">
    <link href="{{static_url('style/solarized.css')}}" rel="stylesheet" type="text/css">
  </head>

  <body>
    <img class='bg-image' src="{{static_url('bg.jpg')}}" />
    <header id="header" class="clearfix header-fixed-top">
      <div class="nav">
        <h1><a href="/">{{escape(context.sitename)}}</a></h1>
        <ul>
          <li><a href="/blog/categories">Categories</a></li>
          <li><a href="/blog/tags">Tags</a></li>
          <li><a href="/blog/archives">Archives</a></li>
          <li><a href="/picky/all">Picky</a></li>
          <li><a href="/picky/links">Link</a></li>
          <li><a href="/picky/about-me">About</a></li>
        </ul>
      </div>
    </header>

    <div id="home-container">
      <div class="curtain">
        <div class="avater">
          <a href="/picky/about-me">
            <img src="{{static_url('avater.jpg')}}"/>
          </a>
        </div>
        <h2>Recent Post</h2>
        <ul class="home-list">
          {% for post in posts %}
          <li>
            <span>{{get_show_time(post.published)}}</span> &raquo; 
            <a href="/{{post.id}}.html">{{post.title}}</a>
          </li>
          {% end %}
        </ul>
        &copy; 2009-2014 | cheyo's Blog | Powered by 
        <a href="https://github.com/cheyo/LemonBlog">LemonBlog</a> forked from 
        <a href="https://github.com/SerhoLiu/serholiu.com">MiniAkio</a>.
        <a href="javascript:scroll(0,0)" class="to-top">TOP</a>
        </div>
      </div>
    </div>
    <div style="display:none;">
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253318237'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1253318237%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>
  </body>
</html>
