<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{config.blogname}}</title>
    <meta name="author" content="Serho Liu">
    <meta name="description" content="{{config.blogdesc}}" />
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
    <link href="/blog/feed" rel="alternate" type="application/atom+xml">
    <link href="{{static_url('style/style.min.css')}}" rel="stylesheet" type="text/css" media="all">
    <link href="{{static_url('style/solarized.css')}}" rel="stylesheet" type="text/css">
  </head>

  <body>
    {% if config.blogcover %}
    <img class="bg-image" src="{{config.blogcover}}" />
    {% end %}

    <header id="header" class="clearfix header-fixed-top">
      <div class="nav">
       {% include "header.html" %}
      </div>
    </header>

    <div id="home-container">
      <div class="curtain">
        <div class="avater">
          <a href="/picky/about-me">
            <img src="{{static_url('avater.jpg')}}"/>
          </a>
        </div>
        <h2>Recent Post</h2>
        <ul class="home-list">
          {% for post in posts %}
          <li>
            <span>{{home_time(post.published)}}</span> &raquo;
            <a href="/{{post.slug}}">{{post.title}}</a>
          </li>
          {% end %}
        </ul>
        <div class="footer">
          &copy; 2009-2015 | <a href="/picky/about-blog" title="By Serho Liu">SErHo's Blog</a> with
          <a href="https://github.com/SerhoLiu/serholiu.com"> MiniAkio</a>.
        </div>
      </div>
    </div>
  </body>
</html>
