{% extends "base.html" %}
{% block title %}{{picky.title}} - {{config.blogname}}{% end %}
{% block head %}{{strip_tags(picky.content[0:168])}}{% end %}

{% block cover %}
  {% if picky.cover %}
  <img class="bg-image" src="{{picky.cover}}" />
  {% elif config.blogcover %}
  <img class="bg-image" src="{{config.blogcover}}" />
  {% end %}
{% end %}

{% block content %}
<article>
  <h2 class="content-title"><a href="/picky/{{picky.slug}}">{{picky.title}}</a></h2>
    {{picky.content}}
</article>
<hr>
<blockquote>
  <small>
    {{picky.published}}
    <a href="/picky/{{picky.slug}}.md" title="{{picky.title}}">Down Markdown File</a>
    {% if current_user %}
    &#160;&#160;<a href="/picky/delete/{{picky.slug}}?check={{signer}}">Del</a>
    {% end %}
  </small>
</blockquote>
{% end %}
