{% extends "base.html" %}
{% block title %}{{post.title}} - {{config.blogname}}{% end %}
{% block head %}{{strip_tags(post.content[0:168])}}{% end %}

{% block cover %}
  {% if post.cover %}
  <img class="bg-image" src="{{post.cover}}" />
  {% elif config.blogcover %}
  <img class="bg-image" src="{{config.blogcover}}" />
  {% end %}
{% end %}

{% block content %}
<article>
  {% if context.is_mobile %}
  <div class="post-meta">
    <h2><a href="/{{post.slug}}">{{post.title}}</a></h2>
    <span>{{post.published}}</span>
  </div>
  {% else %}
  <h2><a href="/{{post.slug}}">{{post.title}}</a><small class="date-right">{{post.published}}</small></h2>
  {% end %}

  {{post.content}}
</article>

<div class="tag-list">Tags:
  {% for tag in tags%}
  <a href="/tag/{{tag}}">#{{tag}}</a>
  {% end %}
  &#160;&#160; Post on <a href="/category/{{post.category}}">{{post.category}}</a>
  {% if current_user %}
  |<a href="/post/update/{{post.id}}">Update</a>
   <a href="/post/delete/{{post.id}}?check={{signer}}">Del</a>
  {% end %}
</div>

{% if post.comment and config.disqus %}
<![if !IE]>
<div id="disqus_thread"></div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES * * */
  // Required: on line below, replace text in quotes with your forum shortname
  var disqus_shortname = '{{config.disqus}}';
  
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<![endif]>
{% end %}

<div class="navigation clearfix">
 上一篇:
 {% if pager.next %}
  <a href="/{{pager.next.slug}}" title="{{pager.next.title}}" class="previous">
  {{pager.next.title}}
  </a>
  {% else %}
  没有了
  {% end %}
  {% if context.is_mobile %}
  <br /><br />
  {% end %}
  <span class="next">
  {% if pager.prev %}
  下一篇:
  <a href="/{{pager.prev.slug}}" title="{{pager.prev.title}}">
  {{pager.prev.title}}
  </a>
  {% else %}
  没有了
  {%end %}
  </span>
</div>
{% end%}
