html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
input,
textarea,
select,
option {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  text-align: left;
  vertical-align: baseline;
}
a {
  color: #f95b1f;
  text-decoration: none;
}
a:hover {
  color: #a33b14;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small {
  color: #ced1d1;
}
h2 {
  line-height: 60px;
  font-size: 20px;
}
h2 small {
  font-size: 16px;
}
h3,
h4 {
  color: #777;
  background-color: #f7f7f7;
  margin: 20px -20px;
  font-size: 20px;
  padding: 0 20px;
  line-height: 35px;
}
h3 small,
h4 small {
  font-size: 18px;
}
ul,
ol {
  font-size: 15px;
  line-height: 30px;
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
ul {
  list-style: circle;
}
ul .unstyled {
  margin-left: 0;
  list-style: none;
}
ol {
  list-style: decimal;
}
hr {
  margin: 20px 0 19px;
  border: 0;
  border-bottom: 1px solid #ddd;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.muted {
  color: #999;
}
abbr {
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 1px dotted #ddd;
  cursor: help;
}
blockquote {
  color: #777;
  margin-bottom: 15px;
  padding: 0 0 0 14px;
  border-left: 5px solid #eee;
}
blockquote p {
  margin-bottom: 0;
  color: #777;
}
blockquote small {
  display: block;
  font-size: 12px;
  line-height: 18px;
  color: #999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote:before,
blockquote:after {
  content: "";
}
code,
pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
}
code {
  padding: 3px 4px;
  color: #93a1a1;
  background-color: #f7f7f9;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
pre {
  display: block;
  padding: 8px;
  line-height: 20px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: auto;
}
address {
  display: block;
  margin-bottom: 30px;
  line-height: 30px;
  font-style: normal;
}
small {
  font-size: 100%;
}
cite {
  font-style: normal;
}
p {
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 30px;
  color: #555;
}
p small {
  font-size: 14px;
  color: #999;
}
body {
  background: #e6ebea fixed center top no-repeat;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  font-family: "Quantico", "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  color: #424242;
  -webkit-font-smoothing: subpixel-antialiased;
}
.bg-image {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}
.highlighttable {
  width: 100%;
  margin-bottom: 15px;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}
.highlighttable .linenos {
  width: 40px;
  margin: 0;
  padding: 0;
  border-right: 0;
}
.highlighttable .linenos pre {
  border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-right: none;
  color: #bebec5;
  text-shadow: 0 1px 0 #fff;
  text-align: right;
}
.highlighttable .highlight pre {
  border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
}
.header-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}
#header {
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
#header .nav {
  margin: 0 auto;
  width: 720px;
}
#header h1 {
  font-size: 26px;
  float: left;
  padding-top: 10px;
}
#header h1 a {
  font-family: 'Quantico', sans-serif;
  font-weight: 700;
  color: #333;
}
#header ul {
  float: right;
  margin-bottom: 0;
  list-style: none;
}
#header ul li {
  float: left;
}
#header ul li a {
  margin: 5px 0 0 10px;
  line-height: 15px;
  display: block;
  padding: 10px 10px;
  font-size: 14px;
  border-bottom: 3px solid #fff;
}
#header ul li a:hover {
  border-bottom: 3px solid #b94a48;
}
#home-container {
  margin: 0 auto;
  width: 920px;
}
@media (max-width: 1024px) {
  #home-container {
    width: 720px;
  }
}
.curtain {
  float: right;
  width: 300px;
  padding: 60px 20px 10px;
  background: #333444;
  background: rgba(51, 52, 68, 0.4);
  text-align: center;
  color: #fff;
}
.curtain .avater {
  width: 120px;
  height: 120px;
  margin: 20px auto;
  border: 5px solid #fff;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.curtain .avater img {
  max-width: 100%;
}
.curtain h2 {
  line-height: 30px;
}
.curtain ul {
  font-size: 14px;
  list-style: none;
  margin-left: 5px;
}
.curtain ul a {
  color: #fff;
}
.curtain ul span {
  color: #ccc;
}
.curtain .footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
#container {
  margin: 60px auto 0;
  width: 680px;
}
.content {
  background-color: #fff;
  margin: 20px 0;
  padding: 0 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.content img {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.content article a {
  border-bottom: 1px dashed #ced1d1;
}
.content article h2 a {
  border-bottom: none;
}
.content article hr {
  display: block;
  width: 18%;
  margin: 31px auto;
  border: 0 none;
  border-top: 3px dotted #dededc;
}
.content article .footnote-ref a {
  border-bottom: none;
  vertical-align: super;
  font-size: 0.8em;
}
.content article .footnotes ol,
.content article .footnotes p {
  font-size: 13px;
  line-height: 26px;
  font-weight: 300;
  color: #777;
  margin-bottom: 5px;
}
.content article .footnotes a[rev=footnote] {
  margin-left: 4px;
  border-bottom: none;
}
.content article .akio-table {
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 26px;
  color: #555;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #e1e1e8;
}
.content article .akio-table td,
.content article .akio-table th {
  border-left: 1px solid #e1e1e8;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
}
.content article .akio-table td:first-child,
.content article .akio-table th:first-child {
  border-left-width: 0;
}
.content article .akio-table thead {
  color: #9393a1;
  background-color: #f7f7f9;
  text-align: left;
  vertical-align: bottom;
}
.content .tag-list {
  border-top: 1px solid #ddd;
  margin: 15px 0 10px;
  padding-top: 3px;
  font-size: 12px;
  color: #93a1a1;
}
.content .tag-list a {
  color: #93a1a1;
  margin-left: 3px;
}
.content .navigation {
  margin-top: 7px;
  padding: 10px 0;
  border-top: 1px dashed #ddd;
}
.content .navigation .next {
  float: right;
}
.content figure {
  position: relative;
  clear: both;
  outline: 0;
  margin: 0 0 15px;
  padding: 0;
  min-height: 100px;
}
.content figure figcaption {
  position: relative;
  width: 80%;
  text-align: center;
  left: 0;
  margin: 10px auto;
  font-weight: 300;
  font-size: 13px;
  line-height: 26px;
  color: #999;
}
.date-right {
  float: right;
}
#footer {
  position: relative;
  background: #fff;
  padding: 10px 20px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
#footer .to-top {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  display: block;
  font-weight: bold;
}
.posts-list {
  margin: 0 0 10px 0;
  font-size: 15px;
}
.posts-list li {
  list-style: none;
  padding: 5px 3px;
  margin: 0;
  border-bottom: 1px solid #eee;
}
.posts-list li span {
  color: #bbb;
  float: right;
}
.group-tags .tag-box {
  list-style: none;
  margin: 0;
  padding: 5px 0 ;
  overflow: hidden;
}
.group-tags .tag-box li {
  line-height: 28px;
  float: left;
}
.group-tags .tag-box a {
  padding: 3px 6px;
  margin: 2px;
  text-decoration: none;
}
.group-tags .tag-box a span {
  vertical-align: super;
  font-size: 0.8em;
}
.group-tags span.more {
  padding: 3px 6px ;
  margin: 2px;
}
.top-box {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.bottom-box {
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.label {
  padding: 3px 3px 2px;
  font-size: 11.25px;
  font-weight: bold;
  color: #fff;
  background-color: #468847;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
::selection {
  background: #ff5e99;
  color: #fff;
}
::-moz-selection {
  background: #ff5e99;
  color: #fff;
}
@media (max-width: 680px) {
  #container {
    width: auto;
    margin-top: 0;
  }
  #header {
    text-align: center;
    background: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  }
  #header .nav {
    margin: 0;
    width: 100%;
  }
  #header h1 {
    float: none;
    text-align: center;
  }
  #header h1 a {
    font-size: 26px;
    font-family: 'Quantico', sans-serif;
    font-weight: 700;
    color: #333;
  }
  #header ul {
    float: none;
    text-align: center;
  }
  #header ul li {
    display: inline;
  }
  #header ul li a {
    margin: 5px;
    padding: 5px 0;
    font-size: 15px;
    border-bottom: none;
  }
  #header ul li a:hover {
    border-bottom: none;
  }
  .header-fixed-top {
    position: static;
  }
  .base-header {
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .content .navigation .next {
    float: none;
    display: block;
    margin-top: 10px;
  }
  .content article h2 {
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .content article h2 small {
    margin-top: 10px;
    display: block;
    float: none;
    color: #ced1d1;
    font-size: 16px;
  }
  #home-container {
    margin: 0 auto;
    width: auto;
  }
  #home-container .curtain {
    float: none;
    width: 100%;
    padding: 10px 0;
  }
  #home-container .curtain h2,
  #home-container .curtain ul,
  #home-container .curtain .footer {
    margin: 10px;
  }
}
@font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 400;
  src: local('Quantico'), local('Quantico-Regular'), url(Quantico.woff) format('woff');
}
