<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{config.blogname}}{% endblock %}</title>
    <meta name="author" content="Serho Liu">
    <meta name="description" content="{% block head %}{{config.blogdesc}}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico">
    <link href="/blog/feed.xml" rel="alternate" type="application/atom+xml">
    <link href="/assets/style/style.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/style/solarized.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    {% block cover %}
      {% if config.blogcover %}
      <img class="bg-image" src="{{config.blogcover}}" />
      {% endif %}
    {% endblock %}

    <header id="header" class="clearfix header-fixed-top base-header">
      <div class="nav">
        {% include "header.html" %}
      </div>
    </header>

    <div id="container">
      <div class="content clearfix">
      {% block content %}{% endblock %}
      </div>

      <footer id="footer" class="top-box clearfix">
        &copy; 2009-2016  | <a href="/picky/about-blog" title="By Serho Liu">SErHo's Blog</a> with
        <a href="https://github.com/SerhoLiu/serholiu.com"> MiniAkio</a>.
        <a href="javascript:scroll(0,0)" class="to-top">TOP</a>
      </footer>
      {% block bottom %}
      {% endblock %}
    </div>
  </body>
</html>
