{% extends "base.html" %}
{% block title %}404,Not Found - {{config.blogname}}{% endblock %}

{% block content %}
<h2>Page Not Found</h2>
<img src="/assets/notfound.png">
<section>
  <script>
    (function() {
      var cx = '011674547521218553784:bfsixwcu5fk';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:search></gcse:search>
</section>
<hr>
<blockquote>
  <small>页面没有找到，你可以返回<a href="/">首页</a>或者搜索其他</small>
</blockquote>
{% endblock %}
