<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{config.blogname}}</title>
    <meta name="author" content="Serho Liu">
    <meta name="description" content="{{config.blogdesc}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico">
    <link href="/blog/feed.xml" rel="alternate" type="application/atom+xml">
    <link href="{{ '/assets/style/style.min.css' | static_url }}" rel="stylesheet" type="text/css" media="all">
    <link href="{{ '/assets/style/trac.css' | static_url }}" rel="stylesheet" type="text/css">
  </head>

  <body>
  <header id="header">
    <div class="nav">
      <h1><a href="/">{{config.blogname}}</a></h1>
      {% include "_nav.html" %}
    </div>
  </header>
    <div id="container">
      <div class="content clearfix">
          <br>
          <p>记录偶然的灵感、平静的生活和纯粹的思考。我相信人生是充满不确定的，而回首自己的往事，正是感悟这种不确定的美，它充满想象、它足够恐怖，它是「耶和华」，而我愿一直追随。</p>
      <h2>Recent Posts</h2>
        <ul class="home-list">
          {% for post in posts %}
          <li>
            <span>{{post.published.date}}</span>
            <br>
            <a href="/{{post.slug}}">{{post.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="footer">
      <div class="desc">
        &copy; 2009-2018 | <a href="/picky/about-blog" title="By Serho Liu">SErHo's Blog</a> with
        <a href="https://github.com/SerhoLiu/serholiu.com"> MiniAkio</a>.
      </div>
    </div>
  </body>
</html>
