{% extends "base.html" %}
{% block title %}{{picky.title}} - {{config.blogname}}{% endblock %}
{% block head %}{{picky.content[0:168]|striptags|escape}}{% endblock %}

{% block cover %}
  {% if picky.cover %}
    <div class="post-cover" style="background-image:url({{picky.cover}})"></div>
  {% endif %}
{% endblock %}

{% block content %}
<article>
  <h2>{{picky.title}}</h2>
    {{picky.content}}
</article>
<hr>
<blockquote>
  <small>
    {{picky.published}}
  </small>
</blockquote>
{% endblock %}
