{% extends "base.html" %}

{% block title %}{{post.title}} - {{config.blogname}}{% endblock %}
{% block description %}{{post.content|striptags|escape|truncate(100)}}{% endblock %}
{% block head %}
    {% if post.gallery %}
    <link rel="stylesheet" href="/assets/gallery/photoswipe.css">
    <link rel="stylesheet" href="/assets/gallery/default-skin/default-skin.css">
    <style>.content img { cursor: zoom-in; }</style>
    {% endif %}
{% endblock %}

{% block cover %}
  {% if post.cover %}
    <style>#header { border-bottom: none }</style>
    <div class="post-cover" style="background-image:url({{post.cover}})"></div>
  {% endif %}
{% endblock %}

{% block content %}
<article>
  <h2>
    {{post.title}}
  </h2>
  <div class="datetime">{{post.published.date}}</div>
  {{post.content}}
</article>
    <div class="tag-list">
      {% for tag in post.tags%}
      <a href="/tag/{{tag|lower}}">#{{tag}}</a>
      {% endfor %}
</div>
{% if post.comment and config.disqus %}
<div id="disqus_thread"></div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES * * */
  // Required: on line below, replace text in quotes with your forum shortname
  var disqus_shortname = '{{config.disqus}}';
  
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}

<div class="navigation clearfix">
  上一篇:
    {% if post.prev %}
    <a href="/{{post.prev.slug}}" title="{{post.prev.title}}" class="previous">
        {{post.prev.title}}
    </a>
    {% else %}
        没有了
    {% endif %}
  <span class="next">下一篇:
    {% if post.next %}
    <a href="/{{post.next.slug}}" title="{{post.next.title}}">
        {{post.next.title}}
    </a>
    {% else %}
    没有了
    {% endif %}
  </span>
</div>
{% endblock %}

{% block bottom %}
    {% if post.gallery %}
    <div id="gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            </div>
        </div>
    </div>

    <script src="/assets/gallery/photoswipe.min.js"></script>
    <script src="/assets/gallery/photoswipe-ui-default.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var initPhotoSwipeFromDOM = function() {
            // triggers when user clicks on thumbnail
            var onThumbnailsClick = function(e) {
                e = e || window.event;
                e.preventDefault ? e.preventDefault() : e.returnValue = false;

                var eTarget = e.target || e.srcElement;

                if (eTarget && eTarget.swipeIndex >= 0) {
                    openPhotoSwipe(eTarget.swipeIndex);
                }

                return false;
            };

            var openPhotoSwipe = function(index) {
                var pswpElement = document.querySelectorAll('.pswp')[0],
                    gallery,
                    options,
                    item,
                    elem,
                    items,
                    i;

                items = [];
                for (i = 0; i < numEles; i++) {
                    elem = thumbnailElements[i];
                    item = {
                        src: elem.getAttribute('src'),
                        w: elem.naturalWidth,
                        h: elem.naturalHeight
                    };
                    item.el = elem;
                    items.push(item);
                }

                // define options (if needed)
                options = {
                    shareEl: false,
                    captionEl: false,
                    history: false,

                    index: index,

                    getThumbBoundsFn: function(index) {
                        var pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                            rect = items[index].el.getBoundingClientRect();

                        return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
                    }
                };

                // Pass data to PhotoSwipe and initialize it
                gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
                gallery.init();
            };

            // loop through all gallery elements and bind events
            var galleryElements = document.querySelectorAll("img");
            var numEles = galleryElements.length;
            var thumbnailElements = [];
            var i, elem;

            for(i = 0; i < numEles; i++) {
                elem = galleryElements[i];
                if (elem.nodeName.toUpperCase() !== "IMG") {
                    continue;
                }

                elem.onclick = onThumbnailsClick;
                elem.swipeIndex = i;
                thumbnailElements.push(elem);
            }
        };

        initPhotoSwipeFromDOM();
    })
    </script>
    {% endif %}
{% endblock %}
